.Palette{
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors{
    height: 90%;
}

.palette-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    font-weight: bold;
    background-color: white;
}
.emoji{
    font-size: 2rem;
    margin: auto 1rem;
}